* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    display: block;
}

nav {
    display: flex;
    background-color: darkblue;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
}

.nav_1 {
    padding: 10px;
    box-shadow: #F0E68C;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    padding-right: 120px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    border-spacing: 10px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

a:hover {
    background: darkcyan;
    transition: .5s;
}
.content{
    padding-top: 100px;
}
.konten {
    text-align: justify;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    display: none;
}
.home {
    text-align: justify;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    display: none;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: auto;
}
h4 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: auto;
}